@{
  Layout = "_Layout";
}

<form action="/collections" method="post">
  <label for="collectionType">What type of collection do you have?</label>
  <input id="collectionType" name="collectionType" type="text">
  <label for="collectionArtist">Artist: </label>
  <input id="collectionArtist" name="collectionArtist" type="text">
  <button type="submit">Add</button>
</form>